<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">

  <!-- Empty link to referr everything to -->
  <link name="world" />
  <!-- Include arm and hand xacro files-->
  <xacro:include filename="$(find chess_manipulator)/description/panda_arm.xacro" />
  <xacro:include filename="$(find chess_manipulator)/description/panda_hand.xacro" />

  <!-- call the arm macro-->
  <xacro:panda_arm />
  <!-- call the hand macro-->
  <xacro:panda_hand ns="panda" rpy="0 0 ${-pi/4}" connected_to="panda_link8" />

  
  <xacro:include filename="$(find chess_manipulator)/description/manipulator.gazebo.xacro" />
  <xacro:include filename="$(find chess_manipulator)/description/manipulator.control.xacro" />
</robot>
